header {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo{
  width: 20%;
  align-items: center;
}

.navbar{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
}

.navbar ul{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}

.navbar ul li{
  display: flex;
  list-style: none;
  padding-left: 10px;
  width: 100%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.logo-text{
  display: flex;
  text-decoration: none;
  font-weight: 700;
  width: 100%;
}

.logo-text img{
  max-width: 100%;
  background-color: none;
  border-radius: 50%;
  padding: 10px;
}
