* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login {
  margin-left: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 30px;
  width: 100%;
  padding: 50px 0px;
}
